.main--section {
  margin: 120px;
  padding: 0;
  box-sizing: border-box;
}

.title {
  display: block;
  text-align: left;
}

.picture {
  display: block;
}

.openinghours {
  display: block;
}

.map {
  display: block;
}
